PORT=8081
DATABASE_JDBC_URL=jdbc:postgresql://<supabase-host>:6543/postgres?sslmode=require
DATABASE_USERNAME=<supabase-username>
DATABASE_PASSWORD=<supabase-password>
DATABASE_DRIVER_CLASS_NAME=org.postgresql.Driver
